html {
    min-height: 100%;
}

body {
    margin: 60px auto;
    font-family: 'Cantarell', sans-serif;
    font-size: 17px;
    width: 70%;
    background-color: #88BDBC;
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    color: white;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
nav.page-navigation {
	font-size: 15px;
    width: 170px;
    position: fixed;
    top:14%;
    left:0;
}
nav.page-navigation ul {
    margin: 0;
}

nav.page-navigation li {
    width: 100%;
	margin: 0;
}
nav.page-navigation a {
    padding: 0.6em 10%;
    width: 80%;
	display: block;
	color: #d2d2d2;
}
nav.page-navigation .current a {
    background-color: #d2d2d2;
    color: #fff;
}
a {
    text-decoration: none;
    color: #88BDBC;
}
h1 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 46px;
    font-size: 43px;
    margin: 0 0 23px 0;
    letter-spacing: 10px;
    }
h2 {
    font-family: 'Cantarell', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0 0 23px 0;
    }
h3 {
    font-family: 'Cantarell', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 0 23px 0;
	border-bottom: 1px solid;
	padding-bottom: 5px;
    }
h4 {
    font-family: 'Cantarell', sans-serif;
    font-weight: 750;
    font-size: 18px;
    line-height: 23px;
    margin: 0 0 2px 0;
    }
h4 + p {
	margin-bottom: 10px;
}
p {
    font-family: 'Cantarell', sans-serif;
    font-size: 17px;
    line-height: 23px;
    margin: 0 0 23px 0;
    }
.rendered {
	background-color: #eee;
	color: black;
	border-radius: 5px;
	margin-bottom: 15px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 1px;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul { 
    margin: 20px auto 40px; 
}

ul li {
    list-style: none;
}
